:root {
    --font-body: Arial, sans-serif;
    --color-bg: #f9f9f9;
    --color-text: #333;
    --color-heading: #444;
    --color-border: #ccc;
    --color-panel: #fff;
    --color-shadow: rgba(0, 0, 0, 0.1);

    --color-main: #27838a;
    --color-red: #dd1e58;
    --color-green: #47c46d67;

    --cyan-1: #16cedb;
    --cyan-2: #50ebf7;
    --cyan-3: #9ef9ff;
}

body {
    font-family: var(--font-body);
    background-color: var(--color-bg);
    color: var(--color-text);
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

h1 {
    font-size: 1.8rem;
    color: var(--color-heading);
    border-bottom: 2px solid var(--color-border);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#main {
    background-color: var(--color-panel);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    row-gap: 30px;
    box-shadow: 0 2px 5px var(--color-shadow);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

#main #form {
    margin: auto;
}

#main #form select, #main #form input {
    font-size: 1.5em;
}

#main #videos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#main #videos #left, #main #videos #right {
    min-width: 40%;
}

#main #videos #left div, #main #videos #right div {
    padding: 5px;
    border: 1px solid var(--color-heading);
    margin-bottom: 3px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}
