:root {
    --font-body: Arial, sans-serif;
    --color-bg: #f9f9f9;
    --color-text: #333;
    --color-heading: #444;
    --color-border: #ccc;
    --color-panel: #fff;
    --color-shadow: rgba(0, 0, 0, 0.1);

    --color-main: #27838a;
    --color-red: #dd1e58;
    --color-green: #47c46d67;

    --cyan-1: #16cedb;
    --cyan-2: #50ebf7;
    --cyan-3: #9ef9ff;
}

body {
    font-family: var(--font-body);
    background-color: var(--color-bg);
    color: var(--color-text);
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

h1 {
    font-size: 1.8rem;
    color: var(--color-heading);
    border-bottom: 2px solid var(--color-border);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#main {
    background-color: var(--color-panel);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    row-gap: 30px;
    box-shadow: 0 2px 5px var(--color-shadow);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.card h2 {
    font-size: 1.2em;
    margin-top: 10px;
    color: var(--color-main);
    font-weight: bolder;
}

a.card {
    text-decoration: none;
    color: inherit;
}

#main img {
    border-radius: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px var(--color-shadow);
    background-color: var(--color-panel);
    width: 400px;
    text-align: center;
    transition: transform 0.2s ease;
}

a.card.very-popular img {
    border: 5px solid var(--color-red);
}
a.card.very-popular h2 {
    color: var(--color-red) !important;
}
a.card.very-popular h2::before {
    content: "⭐ ";
}
a.card.very-popular h2::after {
    content: " ⭐";
}


a.card.slightly-popular img {
    border: 5px solid var(--color-main);
}
a.card.slightly-popular h2 {
    color: var(--color-main) !important;
}

a.card.partially-popular img {
    border: 5px solid var(--color-text);
}
a.card.partially-popular h2 {
    color: var(--color-text) !important;
}

.card:hover {
    transform: translateY(-5px);
}